Package: com.cokepokes.snapdecent
Name: snapdecent
Version: 0.2-2
Description: 
Section: Tweaks
Depends: firmware (>= 8.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: CokePokes
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

